<table class="table table-condensed tracks">
  <thead>
    <tr>
      <th>Track</th>
      <th>Popularity</th>
    </tr>
  </thead>
    {% for t in tracks %}
        <tr class="track">
          <td>
              <div class="track-info">
                <span class="track-name">{{ t.name }}</span>
                <span class="album-name">
                  <a href="{{t.album.external_urls.spotify}}">
                      {{ t.name }}
                  </a>
                </span>
              </div>
              <audio src="{{ t.preview_url }}" preload="auto" />
          </td>
          <td class="number">{{ t.popularity }}</td>
        </tr>
    {% endfor %}

</table>
<script type="text/javascript">  
var list = "{{ tracks }}".replace(/&#34;/g, '"');
// for (var i=0;i<list.length;i++)
// {
//   console.log(list[i]);
// // document.write(list[i] + "<br>");
// }
console.log(list);
var playlist  = JSON.parse(list);
for (var i = 0; i < playlist['playlist_id'].length; i ++){
  document.getElementById('url' + i.toString()).href = '/playlist/' + playlist['playlist_id'][i];
  document.getElementById('img' + i.toString()).src = playlist['images'][i];
}

</script>