body{

}


.sec{
  margin-bottom: 2.4em;
}

h5#hi-user-id {
  color: white;
}

#woz-content{
  /*min-height: 800px;*/
}
.col-lg-12{
  text-align: center;
}
#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .caption {
  background: rgba(24, 188, 156, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .caption:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
  margin: 0;
}
#portfolio * {
  z-index: 2;
}
@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
img.img-responsive{
  height:100%;
  width: 100%;
}

header#woz-header{
  margin-bottom: 2.0em;
  text-align:center;
  /*padding: 2.5em 0;*/
  background: #339944;
}

header#woz-header h1{
  font-size: 2.7em;
  font-weight: bold;
  color: white;
}

.site-title a{
  text-decoration: none;
  color: white;
}




footer#woz-footer{
  /*padding-top: 20px;*/
  margin-top: 2.0em;
  position:auto;
  height:60px;   /* Height of the footer */
  width: 100%;
  /*margin-top: 2.0em;*/
  background: #116622;
  padding: 1.5em 0;
  color: white;
  bottom:0;
}


td.number{
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  text-align: right;
}


.full-url a{
  font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-weight: bold;
  font-size: 0.9em;
}

h1.page-title{
  font-size: 3.0em;
  font-weight: bold;
  color: black;
}



.track-info .track-name{
  font-weight: bold;
}

.track-info .album-name{
  font-size: 0.9rem;
  font-style: italic;
}


img.bobby{
  width: 90px;
  height: 90px;
}


table.table{
  vertical-align: middle;
}

