
{% include 'partials/head.html' %}


<section id="woz-content">

  <div class="container">
    <h1 class="page-title">hello world</h1>


    <h2>Sample pages</h2>

    <ul>
      <li><a href="{{url_for('search', name='Johnny Cash')}}">Search for "Johnny Cash"</a></li>
      <li>
        <a href="{{url_for('artist', id='6vWDO969PvNqNYHIOW5v0m')}}">
          View Beyoncé's page
        </a>
      </li>
      
    </ul>

  </div>


</section>

<!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Collections</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div id="pictures" class="row">
                <div class="col-sm-4 portfolio-item">
                    <a id="url0" href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img id="img0" src="/static/img/cabin.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a id="url1" href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img id="img1" src="/static/img/cabin.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a id="url2" href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img id="img2" src="/static/img/cabin.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a id="url3" href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img id="img3" src="/static/img/cabin.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a id="url4" href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img id="img4" src="/static/img/cabin.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a id="url5" href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img id="img5" src="/static/img/cabin.png" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>

<div class="index-developer">
    <div class="index-container">
    <div class="col-lg-12 text-center">
                    <h2>Developers</h2>
                    <hr class="star-primary">
                </div>
    <Table class="index-developer-table" >
                    <tbody>
                     <tr>
                        <td><strong>Shen Huang</strong></td>
                        <td><strong>Zhenguo Chen</strong></td>
                        <td><strong>Hayeong Song</strong></td>
                      </tr>
                      <tr>
                        <td>Shen.Huang@colorado.edu</td>
                        <td>Zhenguo.Chen@colorado.edu</td>
                        <td>Hayeong.Song@colorado.edu</td>
                      </tr>
         </tbody>
     </Table>
    </div>
    </div>

<script type="text/javascript">  
var list = "{{ playlist }}".replace(/&#34;/g, '"');
// for (var i=0;i<list.length;i++)
// {
//   console.log(list[i]);
// // document.write(list[i] + "<br>");
// }
console.log(list);
var playlist  = JSON.parse(list);
for (var i = 0; i < playlist['playlist_id'].length; i ++){
  document.getElementById('url' + i.toString()).href = '/playlist/' + playlist['playlist_id'][i];
  document.getElementById('img' + i.toString()).src = playlist['images'][i];

}

</script>

{% include 'partials/foot.html' %}
